.advantages {
  background-color: $color-ghost-white;
}

.advantages__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 108px 60px 129px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 91px 10px 100px 0;
  }

  @include vp-767 {
    padding: 63px 0 70px;
  }
}

.advantages__wrapper h3 {
  margin: 0 0 55px 0;
  color: $color-sapphire;
  font-family: $ff-primary;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 50px 0;
    font-size: 42px;
  }

  @include vp-767 {
    margin: 0 0 52px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.advantages__list {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 32.7% 23.1% 32.7%;
  column-gap: 5.7%;

  @include vp-1199 {
    grid-template-columns: repeat(2, 47.1%);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item:nth-child(3) {
  margin: 0 auto;
  width: 100%;
  background-color: #1c3374;
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 34px;

  @include vp-1199 {
    justify-self: center;
    width: 65%;
    padding: 45px 34px;
    grid-column: 1/3;
    grid-row: 2;
  }

  @include vp-767 {
    width: 100%;
  }

  & b {
    font-size: 74px;
    -webkit-text-fill-color: $color-default-white;
    align-self: center;
    margin-bottom: 15px;

    @include vp-1199 {
      margin-bottom: 10px;
    }
  }

  & h4 {
    color: $color-default-white;
    font-size: 26px;
    margin-bottom: 30px;

    @include vp-1199 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  & p {
    color: $color-default-white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: center;
  }
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(2) {
  padding-bottom: 18%;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1199 {
    border: none;
    padding-bottom: 15.9%;
  }

  @include vp-767 {
    padding-bottom: 50px;
  }
}

.advantages__item:nth-child(4),
.advantages__item:nth-child(5) {
  padding-top: 18%;

  @include vp-1199 {
    padding-top: 15.9%;
  }

  @include vp-767 {
    padding-top: 50px;
  }
}

.advantages__item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 9%;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item b {
  font-size: 71px;
  font-weight: 700;
  line-height: 84%;
  background: $advantages-bg-count;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1;
  grid-row: 1/4;
  align-self: start;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {
    align-self: center;
  }
}

.advantages__item span {
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  grid-column: 1;
  align-self: end;
  grid-row: 3;
  padding-top: 19%;

  @include vp-1199 {
    padding-top: 33%;
  }

  @include vp-767 {
    align-self: center;
    padding-top: 0;
    margin-bottom: 20px;
  }
}

.advantages__item h4 {
  margin: 0;
  color: $color-sapphire;
  font-family: $ff-secondary;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 87%;
  grid-column: 2;

  @include vp-1199 {
    font-size: 20px;
  }

  @include vp-767 {
    align-self: center;
    margin-bottom: 10px;
  }
}

.advantages__item p {
  margin: 0;
  color: $color-sapphire;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  grid-column: 2;
  grid-row: 3;
  align-self: end;

  @include vp-767 {
    align-self: center;
    text-align: center;
  }
}
