.custom-input {
  display: flex;
  flex-direction: column;
  min-height: 50px;

  @include vp-767 {
    width: 100%;
    margin-bottom: 9px;
  }
}

.custom-input.is-invalid input {
  border-bottom: 1px solid $color-error;
}

.custom-input input {
  width: 100%;
  color: $color-default-white;
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  padding: 5px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus,
  &:active {
    border: none;
    padding-left: 10px;
    outline: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.4;
  }

  @include vp-1199 {
    width: 87%;
  }

  @include vp-767 {
    width: 100%;
  }
}
