.footer {
  background-color: $color-black-russian;
}

.footer__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 30px;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 16% auto 16%;

  @include vp-1199 {
    padding: 41px 0 40px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 33px;
    align-items: start;
    padding: 46px 15px 52px;
  }
}

.footer__logo {
  display: flex;

  @include vp-767 {
    grid-row: 1/3;
    grid-column: 1/2;
  }
}

.footer__logo-link {
  width: 100%;
  display: block;
  outline: none;
  align-self: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-767 {
    width: 50%;
  }
}

.footer__logo-link img {
  object-fit: contain;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}
