.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 14.1% 32.9% 53%;
  padding: 0 17.25% 51px 1.4%;
  margin-top: -12px;

  @include vp-1199 {
    margin-top: 18px;
    padding: 0 0 82px;
    justify-content: center;
    grid-template-columns: 113px 211px 354px;
  }

  @include vp-767 {
    width: 100%;
    margin: 18px auto 0;
    grid-template-columns: 38% 62%;
    padding: 0 15px 79px;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: $color-default-white;
  align-self: start;
  justify-self: start;
  margin: 229% 0 0 1%;

  @include vp-1199 {
    margin: 184px 0 0 0;
  }

  @include vp-767 {
    margin: 175px 0 0 auto;
  }
}

.hero__beginning {
  display: flex;
  flex-direction: column-reverse;
  align-self: start;
  justify-self: start;
  margin-top: 39%;

  @include vp-1199 {
    margin-top: 56px;
    justify-self: end;
  }

  @include vp-767 {
    justify-self: start;
    grid-column: 2/3;
    margin-right: auto;
    transform: translateX(-7px);
  }
}

.hero__beginning h1 {
  text-align: right;
  text-transform: uppercase;
  font-family: $ff-primary;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%;
  letter-spacing: 4.6px;
  color: $color-default-white;
  -webkit-text-stroke-width: 2px;
  margin: 0;

  @include vp-1199 {
    text-transform: none;
    font-size: 72px;
    letter-spacing: 3.6px;
    margin: 0;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.hero__beginning h2 {
  display: block;
  text-align: right;
  text-transform: lowercase;
  font-family: $ff-primary;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 80%;
  letter-spacing: 1.44px;
  color: $color-default-white;
  margin: 0 20% 10% 0;

  @include vp-1199 {
    font-size: 34px;
    letter-spacing: 1.02px;
    margin: 0 3px 15px 0;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;
    margin: 0 2px 20px 0;
  }
}

.hero__button {
  height: min-content;
  grid-column: 2;
  justify-self: start;
  margin: 2% 0 0 5%;

  @include vp-1199 {
    justify-self: end;
    margin: 12px 0 0 0;
  }

  @include vp-767 {
    grid-column: 1/3;
    justify-self: center;
    width: 100%;
  }
}

.hero__button a {
  display: block;
  font-family: $ff-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  padding: 19px 54px 18px;
  outline: none;
  max-width: 232px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  &:active {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 19px 30px 19px;
    max-width: 183px;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
    padding: 20px 30px 20px;
  }
}

.hero__img {
  width: 100%;
  height: auto;
  grid-column: 3;
  grid-row: 1/3;
  margin: 0;

  @include vp-1199 {
    margin: 0;
    width: 324px;
    height: 390px;
    transform: translateX(0);
    justify-self: end;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__img img {
  background-color: $hero-img-bg;
  width: 100%;
  height: auto;
}
