.input-message.is-invalid,
.input-message.is-valid {
  width: 85%;
  color: $color-error;
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.input-message.is-valid {
  color: $color-success;
}
