.promo__wrapper {
  margin: 0 auto;
  padding: 135px 0 120px;

  @include vp-1199 {
    padding: 91px 0 100px;
  }

  @include vp-767 {
    padding: 63px 15px 70px;
  }
}

.promo__wrapper h3 {
  grid-column: 1/3;
  margin: 0 auto 34px;
  color: $color-sapphire;
  font-family: $ff-primary;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 39px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }
}

.promo__list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 48.3%);
  gap: 8.4% 3.4%;

  @include vp-1199 {
    grid-template-columns: repeat(2, 48%);
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
}

.promo__card {
  justify-content: center;
  width: 100%;
  padding: 31px 35px 35px 30px;
  display: flex;
  flex-direction: column;
  border-image: $promo-border 1 / 7px stretch;
  position: relative;

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.promo__card:nth-child(3n-2) {
  width: 100%;
  justify-content: start;
  padding: 0;
  display: flex;
  flex-direction: row;
  grid-row: 1/3;
  border: none;

  @include vp-1199 {
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/3;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
}

.promo__card h4 {
  padding-left: 5px;
  margin: 0 0 11px;
  color: #1c3374;
  font-family: $ff-secondary;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;

  @include vp-767 {
    padding-left: 0;
    margin-bottom: 12px;
  }
}

.promo__card p {
  padding-left: 5px;
  margin: 0;
  color: #1c3374;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @include vp-767 {
    padding-left: 0;
  }
}

.promo__card:nth-child(3n-1) p {
  br {
    display: none;

    @include vp-1199 {
      display: block;
    }
  }
}

.promo__card a {
  display: block;
  color: #1c3374;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: auto;
  padding: 5px;
  width: 75px;
  cursor: pointer;
  position: relative;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 1px solid #1c3374;
    outline-offset: 2px;
  }

  &:focus-visible::after {
    display: none;
  }

  &:active {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    align-self: center;
    transform: translate(-1px, -1px);
  }
}

.promo__card:not(:nth-child(3n-2)) {
  @include vp-1199 {
    min-height: 211px;
  }

  @include vp-767 {
    padding: 43px 45px 42px;
  }
}

.promo__card:not(:nth-child(3n-2)) a::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 1px;
  bottom: 3px;
  left: 5px;
  background-color: #1c3374;
}

.promo__card:nth-child(3n-2) article {
  background-color: $color-torch-red;
  padding: 40px 45px 45px 40px;
  display: flex;
  flex-direction: column;
  width: 50%;

  @include vp-1199 {
    padding: 40px 40px 40px;
    width: 41.16%;
    min-height: 462px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 299px;
  }
}

.promo__card:nth-child(3n-2) h4 {
  color: $color-default-white;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 6px;

  @include vp-767 {
    transform: translate(-2px, 0);
  }
}

.promo__card:nth-child(3n-2) b {
  color: $color-default-white;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84%;
  margin-bottom: 26px;

  @include vp-1199 {
    padding-left: 5px;
  }

  @include vp-767 {
    padding-left: 0;
    margin-bottom: 22px;
  }
}

.promo__card:nth-child(3n-2) p {
  color: $color-default-white;
  font-size: 18px;
}

.promo__card:nth-child(3n-2) a {
  color: $color-default-white;
  font-size: 14px;
  letter-spacing: 0.7px;
  width: 88px;

  &::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    bottom: 3px;
    left: 5px;
    background-color: $color-default-white;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }

  &:focus-visible::after {
    display: none;
  }

  &:active {
    opacity: 1;
  }
}

.promo__img {
  width: 50%;
  height: 100%;

  @include vp-1199 {
    width: 58.84%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__img img {
  background-color: #3853f0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    height: auto;
  }
}
