.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 22.6% 74.1%;
  column-gap: 3.3%;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }
}

.tabs__nav {
  margin: 2px 0 0 1px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(4, 23.8%);
    gap: 10px 1.4%;
    margin-bottom: 38px;
  }

  @include vp-767 {
    width: 99%;
    grid-template-columns: repeat(2, 48.6%);
    gap: 8px 8px;
    margin-bottom: 28px;
  }
}

.tabs__button {
  max-width: 260px;
  width: 100%;
  padding: 16px 18px 18px;
  display: block;
  color: $color-sapphire;
  text-align: center;
  font-family: $ff-secondary;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  background-color: $color-transparent;
  border: 1px solid rgba(16, 38, 84, 0.2);
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $color-sapphire;
  }

  &:focus {
    outline: 1px solid $color-sapphire;
    outline-offset: -1px;
  }

  &:active {
    color: $color-default-white;
    background: $faq-bg-button;
    border: none;
    padding: 17px 19px 19px;
    outline: none;

    @include vp-767 {
      padding: 14px;
    }
  }

  &:disabled {
    opacity: 0.2;
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @include vp-1199 {
      margin-bottom: 0;
    }
  }

  @include vp-1199 {
    width: 100%;
    max-width: none;
  }

  @include vp-767 {
    padding: 13px 13px 13px;
    font-size: 16px;
    justify-self: center;
  }
}

.tabs__button.is-active {
  color: $color-default-white;
  background: $faq-bg-button;
  padding: 17px 19px 19px;
  border: none;

  &:focus {
    outline: none;
  }

  @include vp-767 {
    padding: 14px;
  }
}

.tabs__content {
  margin-top: 1px;
}
