.trainer {
  background-color: $color-default-white;
  position: relative;
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 0;
  }
}

.trainer__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 105px;
  max-width: 1160px;

  @include vp-1199 {
    padding: 0 101px 100px;
  }

  @include vp-767 {
    padding: 0 47px 70px;
  }
}

.trainer__wrapper h3 {
  margin: 0 0 48px 0;
  color: $color-sapphire;
  font-family: $ff-primary;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: left;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 43px;
  }
}

.trainer__swiper {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.trainer__card {
  width: 100%;
  height: auto;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &:hover h4,
  &:focus h4 {
    display: none;
  }

  &:hover .trainer__invisible,
  &:focus .trainer__invisible {
    display: block;
  }

  @include vp-1199 {
    &:active .trainer__invisible {
      display: block;
    }
  }
}

.trainer__card h4 {
  align-self: center;
  margin: 0;
  color: $color-default-white;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  bottom: 4%;
  z-index: 2;
}

.trainer__card:hover .trainer__info::after,
.trainer__card:focus .trainer__info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #102654;
  opacity: 0.89;
}

.trainer__invisible {
  display: none;
  width: 100%;
  height: 100%;
}

.trainer__info {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 7%;
  top: 0;
  left: 0;
  right: 0;

  @include vp-767 {
    padding: 20% 10px 10px;
  }
}

.trainer__info h5 {
  color: $color-default-white;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.trainer__info span {
  text-align: center;
  color: #b6bdcc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 11%;
  z-index: 2;

  @include vp-767 {
    line-height: 110%;
    margin-bottom: 17%;
  }
}

.trainer__info-list {
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 35px;
  align-self: center;
  z-index: 2;

  @include vp-767 {
    padding-left: 26px;
  }
}

.trainer__info-list li {
  width: 100%;
  position: relative;
}

.trainer__info-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -17px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: $color-default-white;
}

.trainer__info-list li:not(:last-child) {
  margin-bottom: 8%;
}

.trainer__toggle {
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: $color-transparent;
  position: absolute;


  &:hover,
  &:focus {
    outline: 1px solid #102654;
  }

  &:active {
    background-color: #102654;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.trainer__toggle svg {
  stroke: #afafaf;
}

.trainer__toggle.trainer-toggle-prev {
  top: 45%;
  left: 27px;

  @include vp-1199 {
    top: 45%;
    left: 26px;
  }

  @include vp-767 {
    top: 48%;
    left: 3px;
  }
}

.trainer__toggle.trainer-toggle-next {
  top: 45%;
  right: 27px;

  @include vp-1199 {
    top: 45%;
    right: 26px;
  }

  @include vp-767 {
    top: 48%;
    right: 3px;
  }
}

.trainer__img img {
  background-color: #c4c2c2;
  width: 100%;
  height: auto;
  object-fit: cover;
}
